codigos_Python/codpy00/.idea/inspectionProfiles/profiles_settings.xml
codigos_Python/codpy00/.idea/codpy00.iml
codigos_Python/codpy00/.idea/misc.xml
codigos_Python/codpy00/.idea/modules.xml
codigos_Python/codpy00/.idea/workspace.xml
codigos_Python/codpy00/main.py
codigos_Python/pythonexecicios/.idea/inspectionProfiles/profiles_settings.xml
codigos_Python/pythonexecicios/.idea/misc.xml
codigos_Python/pythonexecicios/.idea/modules.xml
/codigos_Python/pythonexecicios/.idea
/codigos_Python/pythonexecicios/__pycache__
codigos_Python/pythonexecicios/ex107/__init__.py
/codigos_Python/pythonexecicios/ex107/__pycache__
codigos_Python/pythonexecicios/ex108/__init__.py
/codigos_Python/pythonexecicios/ex108/__pycache__
codigos_Python/pythonexecicios/ex109/__init__.py
/codigos_Python/pythonexecicios/ex109/__pycache__
codigos_Python/pythonexecicios/ex110/__init__.py
/codigos_Python/pythonexecicios/ex110/__pycache__
codigos_Python/pythonexecicios/ex111/__init__.py
/codigos_Python/pythonexecicios/ex111/__pycache__
codigos_Python/pythonexecicios/ex111/utilidadescursoemvideo/__init__.py
codigos_Python/pythonexecicios/ex111/utilidadescursoemvideo/__pycache__/__init__.cpython-310.pyc
codigos_Python/pythonexecicios/ex111/utilidadescursoemvideo/dado/__init__.py
codigos_Python/pythonexecicios/ex111/utilidadescursoemvideo/moeda/__init__.py
/codigos_Python/pythonexecicios/ex111/utilidadescursoemvideo/moeda/__pycache__
codigos_Python/pythonexecicios/ex112/__init__.py
/codigos_Python/pythonexecicios/ex112/__pycache__
codigos_Python/pythonexecicios/ex112/utilidadescursoemvideo/__init__.py
/codigos_Python/pythonexecicios/ex112/utilidadescursoemvideo/__pycache__
/codigos_Python/pythonexecicios/ex112/utilidadescursoemvideo/dado/__pycache__
/codigos_Python/pythonexecicios/ex115/lib/arquivo
/codigos_Python/pythonexecicios/ex115/lib/interface/__pycache__
codigos_Python/pythonexecicios/ex112/utilidadescursoemvideo/moeda/__init__.py
codigos_Python/pythonexecicios/ex112/utilidadescursoemvideo/dado/__init__.py
/codigos_Python/pythonexecicios/ex112/utilidadescursoemvideo/moeda/__pycache__
/codigos_Python/pythonexecicios/ex115/lib/interface
codigos_Python/pythonexecicios/main.py
